@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    247 W. Main St.<br />
    Milan, MI 48160<br />
    <abbr title="Phone">P:</abbr>
    734.439.8800
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rkendal5@emich.edu</a><br />
    <strong>Rebekah Du Bois:</strong> <a href="mailto:Marketing@example.com">rdubois@moldprollc.com</a>
</address>